:::::: DATA REQUIREMENTS (logistic_regression) ::::::

- Data is expected to be saved in a .csv file.

- The first column of your Data file must be the outcome variable and must be named "out1".

- All other columns (predictor variables) must be in the same order and must share the same names accross nodes.

- Each level for categorical variables is expected to have been possible to sample accross all nodes. Otherwise, said level should either be removed or merged with another level.

- Categorical variables must be binarized before running this code.
