:::::: DATA REQUIREMENTS (Cox_model) ::::::

- Data is expected to be saved in a .csv file.

- The code is written so that 0 = censored and 1 = event for the "status" variable. Make sure to follow this structure with your dataset.

- The first two columns of your Data file must be named "time" and "status" (order not important).

- All other columns (predictor variables) must be in the same order and must share the same names across nodes.

- Each level for categorical variables is expected to have been possible to sample across all nodes. Otherwise, said level should either be removed or merged with another level.

- Categorical variables must be binarized before running this code. Binarized variables must use the values 0 or 1, where 1 indicates a success (or having the characteristic).

- (optional) Weights are expected to be saved in a .csv file.