:::::: DATA REQUIREMENTS (Data_Aggregation) ::::::

- Data is expected to be saved in a .csv file.

- The code is written so that 0 = censored and 1 = event for the "status" variable. Make sure to follow this structure with your dataset.

- The first two columns of your Data file must be named "time" and "status" (order not important).